.root-pane {
    -fx-background-color: Black;
    -fx-padding: 15px;
    -fx-pref-width: 600px;
    -fx-pref-height: 550px;
}

Button {
    -fx-font: 14px "Sans Serif";
    -fx-background-color: #065DA0;
    -fx-text-fill: white;
    -fx-pref-width: 200px;
}

Button:hover {
    -fx-background-color: white;
    -fx-text-fill: #065DA0;
}

HBox {
    /*-fx-border-color: crimson;
    -fx-border-width: 2px;*/
    -fx-alignment: center;
    -fx-spacing: 5;
}

.header-label {
    -fx-font: 30px "Comic Sans Ms";
    -fx-text-fill: white;
    //-fx-alignment: right;
}

.message-label {
    -fx-font: 60px "Comic Sans Ms";
}